.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.Auth-header{
    width: 90%;
    display: flex;
    justify-content: flex-start;
}
.Form {
    margin : 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    width: 95%;
}
.ButtonGroup {
    margin: 20px 0 20px 0;
    width: 95%;
    display: flex;
    justify-content: space-around;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}